-- Create generated_reports table
CREATE TABLE IF NOT EXISTS generated_reports (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  report_type TEXT NOT NULL, -- 'daily_summary' or 'product_summary'
  report_date TIMESTAMP WITH TIME ZONE NOT NULL,
  report_data JSONB NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Enable RLS
ALTER TABLE generated_reports ENABLE ROW LEVEL SECURITY;

-- Policies
CREATE POLICY \
Enable
read
access
for
all
users\ ON generated_reports FOR SELECT USING (true);
CREATE POLICY \Enable
insert
access
for
all
users\ ON generated_reports FOR INSERT WITH CHECK (true);

